<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Avtomaster.Properties.Settings.AvtoservisConnectionString"
            connectionString="Data Source=LAPTOP-Q4T0EMR4\SQLEXPRESS01;Initial Catalog=Avtoservis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>